#{ 'yield' }(from='input')
  input(
    id='{ input.name.replace(/\./g, "-") }'
    name='{ name || input.name.replace(/\./g, "-") }'
    type='checkbox'
    onchange='{ change }'
    onblur='{ change }'
    checked='{ input.ref.get(input.name) }'
    class='{invalid: errorMessage, valid: valid}'
  )
#{ 'yield' }
  #{ 'yield' }(from='error')
    .error(if='{ errorMessage }')
      | { errorMessage }
