#{ 'yield' }(from='input')
  select(
    id='{ getId() }'
    name='{ getName() }'
    style='display: none'
    onchange='{ change }'
    onblur='{ change }'
    placeholder='{ placeholder }'
    class='{invalid: errorMessage, valid: valid, labeled: label}'
  )
#{ 'yield' }(from='label')
  .label.active(if='{ label }')
    | { label }
#{ 'yield' }(from='error')
  .error(if='{ errorMessage }')
    | { errorMessage }
#{ 'yield' }(from='instructions')
  .helper(if='{ instructions && !errorMessage }')
    | { instructions }
#{ 'yield' }

