#{ 'yield' }(from='input')
  select(
    id='{ input.name }',
    name='{ name || input.name }',
    onchange='{ change }',
    onblur='{ change }',
    class='{invalid: errorMessage, valid: valid}',
    autofocus='{ autofocus }',
    disabled='{ disabled || !hasOptions() }',
    multiple='{ multiple }',
    size='{ size }',
  )
    option(
      if='{ instructions || placeholder }',
      value='',
    )
      | { instructions || placeholder }
    option(
      each='{ v, k in options() }',
      value='{ k }',
      selected='{ k == input.ref.get(input.name) }'
    )
      | { v }
  div.select-indicator ▼
#{ 'yield' }(from='placeholder')
  .placeholder.small
    | { placeholder }
#{ 'yield' }
  #{ 'yield' }(from='error')
    .error(if='{ errorMessage }')
      | { errorMessage }
