#{ 'yield' }(from='input')
  textarea(
    id='{ input.name.replace(/\\./g, "-") }'
    name='{ name || input.name.replace(/\\./g, "-") }'
    onchange='{ change }'
    onblur='{ change }'
    class='{invalid: errorMessage, valid: valid}'
    rows='{ rows }'
    cols='{ cols }'
    disabled='{disabled'
    maxlength='{ maxlength }'
    placeholder='{ instructions || placeholder }'
    readonly='{ readonly }'
    wrap='{ wrap }'
  )
    | { input.ref.get(input.name) }
#{ 'yield' }(from='placeholder')
  .placeholder.small
    | { placeholder }
#{ 'yield' }
  #{ 'yield' }(from='error')
    .error(if='{ errorMessage }')
      | { errorMessage }
